@font-face {
  font-family: 'iconfont';
  /* project id 1397838 */
  src: url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.eot');
  src: url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.woff') format('woff'),
    url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1397838_q8t1iiowjl.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e601"
}

.icon-rollback:before {
  content: "\e600"
}

.icon-plus:before {
  content: "\e845"
}

.icon-minus:before {
  content: "\e844"
}

.icon-shopCard:before {
  content: "\e613"
}
