@font-face {
  font-family: 'iconfont';
  /* project id 1397838 */
  src: url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.eot');
  src: url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.woff') format('woff'),
    url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1397838_ai1whbeqhu8.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e601"
}

.icon-rollback:before {
  content: "\e600"
}

.icon-plus:before {
  content: "\e845"
}

.icon-minus:before {
  content: "\e844"
}

.icon-shopCard:before {
  content: "\e613"
}

.icon-selected:before {
  content: "\e674"
}

.icon-unselected:before {
  content: "\e630"
}

.icon-subtriangle:before {
  content: "\e63f"
}

.icon-righttriangle:before {
  content: "\e614"
}

.icon-locate:before {
  content: "\e7c4"
}

/* 这是我的菜单模块 */
.icon-guanyuwomen:before {
  content: "\e608"
}

.icon-lianxikefu:before {
  content: "\e607"
}

.icon-shezhi:before {
  content: "\e606"
}

.icon-youhuiquan:before {
  content: "\e605"
}

.icon-yiwancheng:before {
  content: "\e604"
}

.icon-yao:before {
  content: "\e603"
}

.icon-tuangou:before {
  content: "\e602"
}

.icon-edit:before {
  content: "\e60a"
}

.icon-couponSelected:before {
  content: "\e623"
}


/* 确认订单页面添加 */
.icon-orderAdd:before {
  content: "\e709"
}

.icon-orderLocation:before {
  content: "\e611"
}
